<div class="container">
    <div class="row gx-0 ">
        <div class="col-md-9">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide><img class="rounded-3"  src="assets\images\cover.jpg" style="height: 400px; object-fit: cover; "></ng-template>  
                <!-- <ng-template carouselSlide><img src="assets\images\cover1.jpg" style="height: 400px; object-fit: cover; "></ng-template>   -->
                <ng-template carouselSlide><img class="rounded-3"  src="assets\images\cover2.jpg" style="height: 400px; object-fit: cover; "></ng-template>  
                <ng-template carouselSlide><img class="rounded-3"  src="assets\images\cover4.jpg" style="height: 400px; object-fit: cover; "></ng-template>  
                <ng-template carouselSlide><img class="rounded-3"  src="assets\images\cover5.jpg" style="height: 400px; object-fit: cover; "></ng-template>  
            </owl-carousel-o>
        </div>
        <div class="col-md-3">
            <img class="rounded-3"  src="assets\images\sale6.jpg" style="height:200px; object-fit: cover; ">
            <img class="rounded-3"  src="assets\images\sale5.jpg" style="height:200px; object-fit: cover; ">
        </div>
    </div>
</div>